.calendar-calendar .week-view .full div.single-day div.weekview, .calendar-calendar .day-view .full div.single-day div.dayview
{
    background-color:rgb(193, 233, 254);
}
.calendar-calendar .week-view .full td .inner div.calendar.weekview div a,.calendar-calendar .week-view .full td .inner div.calendar.weekview div a:hover
{
    color:black !important;
}
.calendar-calendar .week-view #single-day-container, .calendar-calendar .day-view #single-day-container
{
    height: 100% !important;
}
.view .date-nav-wrapper .date-next{
      width:100px !important;
    background-color: transparent !important;
    color:black !important;
    position:static !important;
    
}
.view .date-nav-wrapper .date-prev
{
    width:100px !important;
    background-color: transparent !important;
    color:black !important;
    
    position: static !important;
}
.pager
{
    position:absolute;
    right: 0px;
    top:80px;
}
.date-nav
{
    padding-bottom: 0px !important;
}
.date-today
{
    border-top: 5px solid royalblue !important;
}
#edit-field-date-value-max-inside-wrapper , .edit-field-date-value-min
{
    display:none;
}
.views-exposed-widget
{
    margin-left:25px;
}
div.views-exposed-widget.views-submit-button button {
    width: 24% !important;
    margin-right: 10px;
    float:left !important;
}
.views-submit-button
{
    width:100% !important;
}
#edit-submit-calendar-prevweek,#edit-submit-calendar-nextweek
{
    float:right !important;
}
.obib-calendar-week-view .time-slice
{
    
}
.half-hour
{
    height: 50%;
    width: 100%;
    border-bottom:1px dotted #cccccc;
    float:left;
    z-index: 0;
    padding-left: 5px;
}
.full-calendar-item
{
    padding:10px;
    text-align: center;
    border-top: 1px black dashed;
}
/*
* Fix hide on intranet
*/
.js-hide
{
    display:none !important;
}
.view-bhus-events .views-submit-button
{
    //display:none;
}
.popover-title,.popover-content{
    color: black;
}
/*
* colors for internal events
*/
.colors-taxonomy-term-Amfitrappen_2_sal
{
    background-color:rgb(193, 233, 254) !important;
    opacity:0.9;
}
.colors-taxonomy-term-Borgernes_værksted_2_sal
{
    background-color:lightsalmon !important;
    opacity:0.9;
}
.colors-taxonomy-term-Borgernes_Torv_1_sal
{
    background-color: lightpink !important;
    opacity:0.9;
}
.colors-taxonomy-term-Gardinrum_stuen
{
    background-color: paleturquoise !important;
    opacity: 0.9;
}
.colors-taxonomy-term-Musikscenen_2_sal
{
    background-color: tan !important;
    opacity: 0.9;
}
.colors-taxonomy-term-Scene_stuen
{
    background-color: palegoldenrod !important;
    opacity: 0.9;
}
.colors-taxonomy-term-Store_scene_café_2_sal
{
    background-color: wheat !important;
    opacity: 0.9;
}
.colors-taxonomy-term-Udstillingsområde_kælder
{
    background-color:gainsboro  !important;
    opacity: 0.9;
}
.colors-taxonomy-term-Udstillingsområde
{
    background-color:silver  !important;
    opacity: 0.9;
}
.colors-taxonomy-term-Udstillingsområde_stue
{
    background-color: lightgrey !important;
    opacity: 0.9;
}
/*
* Legend styling
*/
.legend-wrap
{
    width: 100%;
    float:left;
}
.legend-box
{
    width:10px;
    height: 10px;
    background-color: grey;
    display:inline-block;
    margin-left:5px;
}
.legend-box-wrap
{
display:inline-block;
}
.legend-name
{
    display:inline-block;
    margin-left:5px;
}
/*
*
*/
.grippie {
    overflow: hidden;
    background: #eee url(/misc/grippie.png) no-repeat center 2px;
    cursor: s-resize;
    height: 3px;
}